[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CNID"]
	path = CNID
	url = https://github.com/chuxinyuan/cnid
[submodule "ecce"]
	path = ecce
	url = https://github.com/chuxinyuan/ecce
[submodule "ipkg"]
	path = ipkg
	url = https://github.com/chuxinyuan/ipkg
[submodule "simpletex"]
	path = simpletex
	url = https://github.com/chuxinyuan/simpletex
